<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li class="is-active"><%= link_to "Notes", notes_path %></li>
    </ul>
  </nav>
</div>
<div class="container">
  <% @notes.each do |note| %>
    <p>
      <%= note.note_name_with_flat %>
      <%= link_to note.note_name_with_flat, note_path(note.note_name_with_flat) %>
    </p>
  <% end %>
</div>
