<div class="container">
  <% @notes.each do |note| %>
    <p>
      <%= note.note_name_with_flat %>
      <%= link_to note.note_name_with_flat, note_path(note.note_name_with_flat) %>
    </p>
  <% end %>
</div>
