<div class="container">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", '/' %></li>
      <li class="is-active"><%= link_to "Notes", notes_path %></li>
    </ul>
  </nav>
</div>
<div class="section">
  <div class="container">
    <% @notes.each do |note| %>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <h1><%= link_to note.note_name_with_flat, note_path(note.note_name_with_flat), class: "has-text-black" %></h1>
            <div class="tags">
              <%= link_to "#{note.note_name_with_flat}", root_note_root_notes_chords_path(note.note_name_with_flat), class: "tag" %>
            </div>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</div>
