<div class="container">
  <% @chords.each do |chord| %>
    <p>
      <%= chord.chord_name_with_flat %>
      <%= link_to chord.chord_name_with_flat, root_note_root_notes_chord_path(chord.root_note.note_name_with_flat, chord.chord_name_with_flat) %>
    </p>
  <% end %>
</div>
