<div class="container">
  <% @chords.each do |chord| %>
    <p>
      <%= chord.chord_name_with_flat %>
      <%= link_to chord.chord_name_with_flat, chord_modifier_chord_modifiers_chord_path(chord.chord_modifier_name, chord.chord_name_with_flat) %>
    </p>
  <% end %>
</div>
